<h1>Agregar Encargado</h1>
<br>
<hr>
<div class="row row-no-gutters" >
  <div class="col-sm-3" class="center">
      <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
           </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Cargo</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cargo">
          </div>
          <div class="form-group">
          <label for="exampleInputEmail1">Teléfono</label>
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Teléfono">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Animal</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Animal">
          </div>
          <button type="button" class="btn btn-light">Agregar</button>

          <button type="button" class="btn btn-light">Cancelar</button>
        </form>
  </div>
</div>

