<h1>Agregar Animales</h1>
<br>
<hr>
<div class="row row-no-gutters" >
  <div class="col-sm-3" class="center">
      <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
           </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Tipo</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tipo">
          </div>
          <div class="form-group">
          <label for="exampleInputEmail1">Edad</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Edad">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre Cientifico</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre Cientifico">
          </div>
          <button type="button" class="btn btn-light">Agregar</button>

          <button type="button" class="btn btn-light">Cancelar</button>
        </form>
  </div>
</div>

