<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;margin: auto; text-align: center;">
    <div class="card-header">Animal</div>
    <div class="card-body">
      <h5 class="card-title">Agregar Animal</h5>
      <button type="button" class="btn btn-brand btn-behance">
          <img src="https://cdn.pixabay.com/photo/2017/03/19/03/51/material-icon-2155448_960_720.png" width="65" [routerLink]="['/addAnimals']">
      </button>
    </div>
  </div>
<div  class="card text-white bg-dark mb-3" style="max-width: 18rem; text-align: center;margin: auto;" *ngFor="let animal of animals">
    <div class="card-header">Animal</div>
    <div class="card-body">
      <h5 class="card-title"> {{animal.name}} </h5>
      <p class="card-text"> {{animal.type}}, {{animal.age}}, {{animal.scientificname}}  </p>
    </div>
  </div>

